services:
  mlflow:
    build:
      context: ./services/mlflow
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./services/mlflow:/mlflow
    ports:
      - "5000:5000"
    networks:
      - mlflow-net

  mlflow-serve:
    build:
      context: ./services/mlflow-serve
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./services/mlflow:/mlflow
    ports:
      - "1234:1234"
    networks:
      - mlflow-net
      - kafka-net
    environment:
      MLFLOW_TRACKING_URI: "http://mlflow:5000" 

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.1
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - kafka-net

  kafka:
    image: confluentinc/cp-kafka:7.4.1
    hostname: kafka
    container_name: kafka
    depends_on:
      - zookeeper
    restart: on-failure
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "bash", "-c", "nc -z localhost 9092"]
      interval: 10s
      timeout: 5s
      retries: 10
    ports:
      - "29092:29092"
    networks:
      - kafka-net

  kafka-producer:
    build:
      context: ./services/kafka-producer
      dockerfile: Dockerfile
    depends_on:
      - kafka
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
    ports:
      - "8000:8000"
    networks:
      - kafka-net


  kafka-consumer:
    build:
      context: ./services/kafka-consumer
      dockerfile: Dockerfile
    depends_on:
      kafka:
        condition: service_healthy
      websocket:
        condition: service_started
    ports:
      - "8001:8001"
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
      WS_SERVER_URL: "http://websocket:8002/publish"
    networks:
      - kafka-net
      - websocket-net

  websocket:
    build: 
      context: ./services/websocket
      dockerfile: Dockerfile
    ports:
      - "8002:8002"
    restart: always
    networks:
      - websocket-net


networks:
  kafka-net:
    driver: bridge
  mlflow-net: 
    driver: bridge
  websocket-net:
    driver: bridge